[run]
branch = true

[report]
omit =
    django_athm/__init__.py
    django_athm/conf.py
    *site-packages*
    *tests*
    *.tox*
    *settings.py
    *urls.py
show_missing = True
exclude_lines =
    raise NotImplementedError
