[run]
source = django_athm
branch = true

[report]
omit =
    */migrations/*
    django_athm/__init__.py
    django_athm/conf.py
    *site-packages*
show_missing = True
exclude_lines =
    raise NotImplementedError
