repos:
  -   repo: https://github.com/ambv/black
      rev: 20.8b1
      hooks:
      - id: black

  -   repo: https://github.com/pycqa/isort
      rev: '5.6.3'
      hooks:
      - id: isort

  -   repo: https://gitlab.com/pycqa/flake8
      rev: '3.8.3'
      hooks:
      - id: flake8
