[tool.poetry]
name = "django-athm"
version = "0.4.3"
description = "Django + ATH Móvil"
authors = ["Raúl Negrón <raul.esteban.negron@gmail.com>"]
maintainers = ["Raúl Negrón <raul.esteban.negron@gmail.com>"]
license = "MIT"
readme = "README.md"
homepage = ""
repository = "https://github.com/django-athm/django-athm"
documentation = "https://django-athm.github.io/django-athm/"
keywords = [
    "Django",
    "ATH Móvil",
    "payments",
    "athm"
]
classifiers= [
    "Development Status :: 4 - Beta",
    "Environment :: Web Environment",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Topic :: Office/Business :: Financial",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Framework :: Django",
    "Framework :: Django :: 2.2",
    "Framework :: Django :: 3.0",
    "Framework :: Django :: 3.1"
]

[tool.poetry.dependencies]
python = ">=3.6.1,<4.0"
httpx = "0.17.1"

[tool.poetry.dev-dependencies]
Django = "3.2"
black = "^20.8b1"
isort = "^5.7.0"
flake8 = "^3.8.3"
pre-commit = "^2.10.1"
pytest-django = "^4.4.0"
tox = "3.23.0"
codecov = "^2.1.11"
pytest-cov = "^2.11.1"
mkdocs = "^1.1.2"
pytest-mock = "^3.5.1"
setuptools = "^53.0.0"
respx = "^0.16.3"


[tool.poetry.urls]
issues = "https://github.com/django-athm/django-athm/issues"

[tool.tox]
legacy_tox_ini = """
[tox]
isolated_build = true
envlist =
    py{36,37,38}-django{22,30,31,32}
    lint

[testenv]
whitelist_externals = poetry
setenv =
    DJANGO_SETTINGS_MODULE = tests.settings
    PYTHONWARNINGS = all
    PYTEST_ADDOPTS = --cov django_athm --cov-append --cov-report=xml --cov-fail-under 90
commands =
    pytest {posargs}
deps =
    pytest
    pytest-cov == 2.11.1
    pytest-mock == 3.3.1
    pytest-django == 4.2.0
    respx == 0.16.3
    django22: Django>=2.2,<2.3
    django30: Django>=3.0,<3.1
    django31: Django>=3.1,<3.2
    django32: Django>=3.2,<3.3

[testenv:clean]
deps = coverage
skip_install = true
commands = coverage erase

[testenv:lint]
skip_install = True
deps =
    isort
    black
    flake8

commands =
    isort . --profile=black --check
    black . --check
    flake8 django_athm/

"""

[build-system]
requires = ["poetry-core>=1.0.0", "django>=2.2,<3.3"]
build-backend = "poetry.core.masonry.api"

