{% extends "admin/base_site.html" %}
{% load i18n admin_urls %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
    &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
    &rsaquo; {% trans "Install Webhooks" %}
</div>
{% endblock %}

{% block content %}
<p>{% trans "Register your webhook URL with ATH Movil to receive payment events." %}</p>
<form method="post">{% csrf_token %}
    <fieldset class="module aligned">
        {{ form.as_p }}
    </fieldset>
    <div class="submit-row">
        <input type="submit" value="{% trans 'Install' %}">
        <a href="{% url opts|admin_urlname:'changelist' %}" class="button cancel-link">{% trans 'Cancel' %}</a>
    </div>
</form>
{% endblock %}
